.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bg {
  background: url(../src/assets/bg3.jpg);
  background-size: cover;
  padding: 50px;
}
.bgnext {
  padding: 200px 200px 300px;
}